{% assign stations = sorted_stations | slice: 0, 10 %}
{% assign municipio_name = resultado.first.Municipio | upcase %}
{% assign distrito_name = resultado.first.Distrito | upcase %}
{% assign combustivel_name = resultado.first.Combustivel | upcase %}

<div class="layout layout--col">
  <div class="p--2" style="{{ base_font }}">
    <div class="text--center title title--xxsmall mb--3 pb--1.5" data-pixel-perfect="true" style="border-bottom: 2px solid black;">
      {{ combustivel_name }}
    </div>

    {% if stations.size > 0 %}
      <div class="text--center title title--xxsmall mb--1.5" data-pixel-perfect="true">
        {{ municipio_name }} ({{ distrito_name }})
      </div>
      
      <table class="table table--xsmall table--indexed text-stroke" data-table-limit="true">
        <thead>
          <tr class="bg--gray-60">
            <th class="text--left p--0.75" data-pixel-perfect="true" style="font-weight: bold;">#</th>
            <th class="text--left p--0.75" data-pixel-perfect="true" style="font-weight: bold;">POSTO</th>
            <th class="text--right p--0.75" data-pixel-perfect="true" style="font-weight: bold;">PREÇO</th>
          </tr>
        </thead>
        <tbody>
          {% for station in stations %}
            <tr>
              <td><span class="meta index text-stroke text-stroke--small">{{ forloop.index }}</span></td>
              <td class="p--0.75" data-pixel-perfect="true">
                <div data-pixel-perfect="true" style="font-weight: bold;">{{ station.Marca }}</div>
                <div class="text--xs" data-pixel-perfect="true">{{ station.Localidade | truncate: 30 }}</div>
              </td>
              <td class="text--right text--sm p--0.75" data-pixel-perfect="true" style="font-weight: bold;">{{ station.Preco }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      
    {% else %}
      <div class="text--center text--base p--5" data-pixel-perfect="true" style="border: 2px solid black;">
        ERRO AO CARREGAR DADOS DA API
      </div>
    {% endif %}
  </div>
</div>

<div class="title_bar">
  <img class="image" src="https://upload.wikimedia.org/wikipedia/commons/d/db/Gasoline_by_Mitchell_Geere.svg">
  <span class="title">{{ trmnl.plugin_settings.instance_name }}</span>
  <span class="instance">{{ "now" | date: "%d-%m %H:%M" }}</span>
</div>