{% assign stations = sorted_stations | slice: 0, 5 %}
{% assign municipio_name = resultado.first.Municipio | upcase %}
{% assign distrito_name = resultado.first.Distrito | upcase %}
{% assign combustivel_name = resultado.first.Combustivel | upcase %}

<div class="layout layout--col">
  <div class="p--2" style="{{ base_font }}">

    {% if stations.size > 0 %}
      <div class="text--center title title--xxsmall mb--1.5" data-pixel-perfect="true">
        Top 5 - {{ combustivel_name }} - {{ municipio_name }} ({{ distrito_name }})
      </div>
      
      <table class="table table--xsmall table--indexed" data-table-limit="true">
        <thead>
          <tr class="bg--gray-60">
            <th class="text--left p--1" data-pixel-perfect="true" style="font-weight: bold;">#</th>
            <th class="text--left p--1" data-pixel-perfect="true" style="font-weight: bold;">POSTO</th>
            <th class="text--left p--1" data-pixel-perfect="true" style="font-weight: bold;">MARCA</th>
            <th class="text--left p--1" data-pixel-perfect="true" style="font-weight: bold;">LOCALIDADE</th>
            <th class="text--left p--1" data-pixel-perfect="true" style="font-weight: bold;">PREÇO</th>
            <th class="text--left p--1" data-pixel-perfect="true" style="font-weight: bold;">ATUALIZ.</th>
          </tr>
        </thead>
        <tbody>
          {% for station in stations %}
            <tr>
              <td><span class="meta index">{{ forloop.index }}</span></td>
              <td class="p--1" data-pixel-perfect="true">{{ station.Nome | truncate: 35 }}</td>
              <td class="p--1" data-pixel-perfect="true">{{ station.Marca | truncate: 12 }}</td>
              <td class="p--1" data-pixel-perfect="true">{{ station.Localidade | truncate: 30 }}</td>
              <td class="text--right text--sm p--1" data-pixel-perfect="true" style="font-weight: bold;">{{ station.Preco }}</td>
              <td class="text--center text--xs p--1" data-pixel-perfect="true">{{ station.DataAtualizacao | date: "%d %b" }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
      
    {% else %}
      <div class="text--center text--base p--10" data-pixel-perfect="true" style="border: 2px solid black;">
        ERRO AO CARREGAR DADOS DA API<br>
        <div class="text--xs mt--2.5" data-pixel-perfect="true">
          Debug: markup size = {{ markup.size }}<br>
          status = {{ markup.status }}<br>
          resultado size = {{ markup.resultado.size }}
        </div>
      </div>
    {% endif %}
  </div>
</div>

<div class="title_bar">
  <img class="image" src="https://usetrmnl.com/images/plugins/trmnl--render.svg">
  <span class="title">{{ trmnl.plugin_settings.instance_name }}</span>
  <span class="instance">Atualizado: {{ "now" | date: "%d-%m-%Y %H:%M" }}</span>
</div>